.MainCategoryContainer {
    margin-left: 250px;
    padding: 0;
    height: 750px;
    width: 82vw;
    background-color: white;
    transition: width 0.3s ease-in-out, margin-left 0.3s ease-in-out;
}

.CategoryContentBox {
    height: 600px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.CategoryForm {
    width: 80%;
    border: 1px solid grey;
    border-radius: 10px;
}

.CategoryFormHeading {
    height: 90px;
    width: 100%;
    border-bottom: 1px solid grey;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.CategoryFormHeading h2 {
    margin-left: 47px;
    color: grey;
}

.CategoryFormData {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.CategoryInputWrapper {
    width: 90%;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.CategoryInput {
    height: 120px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.CategoryButtonGroup {
    height: 100%;
    width: 100%;
}

.CategoryInput label {
    font-size: 20px;
}

.CategoryInputBox {
    height: 50px;
    border-radius: 10px;
    border: 1px solid grey;
}
.Categoryinputboxx-wrapper{
    height: 50px;
    border-radius: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border: 1px solid grey;
}
.CategoryInputBoxx{
    height: 20px;
    width: auto;
    margin-left: 10px;
}

.CategoryAddButton {
    height: 40px;
    width: 120px;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    background-color: #32BDEA;
    color: white;
    font-size: 15px;
}

.CategoryResetButton {
    height: 40px;
    width: 120px;
    background-color: rgb(246, 131, 150);
    color: white;
    font-size: 15px;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    margin-left: 15px;
}
