.MainContentBoxForTable {
    margin-left: 250px;
    padding: 0;
    height: 750px;
    width: 82vw;
    background-color: white;
    transition: width 0.3s ease-in-out, margin-left 0.3s ease-in-out;
}
.ContentBoxForTable {
    height: 600px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.FormForTable {
    width: 80%;
    border: 1px solid grey;
    border-radius: 10px;
}
.FormHeadingForTable {
    height: 90px;
    width: 100%;
    border-bottom: 1px solid grey;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.FormHeadingForTable h2 {
    margin-left: 47px;
    color: grey;
}
.FormDataForTable {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.InnerFormDataForTable {
    width: 90%;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}
.InputForTable {
    height: 120px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}
.ButtonContainerForTable {
    height: 100%;
    width: 100%;
}
.InputForTable label {
    font-size: 20px;
}
.InputForTable .InputBoxForTable {
    height: 50px;
    border-radius: 10px;
}
.InputBoxForTable{
    border: 1px solid grey;
}
.BtnForTableAdd {
    height: 40px;
    width: 120px;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    background-color: #32BDEA;
    color: white;
    font-size: 15px;
}
.BtnForTableReset {
    height: 40px;
    width: 120px;
    background-color: rgb(246, 131, 150);
    color: white;
    font-size: 15px;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    margin-left: 15px;
}
