.sidebar {
  width: 250px;
  background-color: #fff;
  transition: width 0.3s ease-in-out;
  position: fixed;
  left: 0;
  top: 0;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
}
.sidebar.closed {
  width: 50px;
}

/* --- TOP SECTION --- */
.top-section {
  height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 0 10px;
}

.logo-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo {
  font-size: 22px;
  color: #32BDEA;
  white-space: nowrap; 
}

.Cup-icon {
  font-size: 25px;
  color: rgb(75, 187, 224);
}

.menu-icon {
  font-size: 24px;
  color: black;
  cursor: pointer;
}

/* Hide logo when sidebar is closed */
.sidebar.closed .logo-container {
  display: none;
}

/* --- MENU STYLING --- */
.menu {
  list-style: none;
  padding: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 5px;
  overflow-y: auto;
  overflow-x: hidden;
}
.menu-options {
  margin-top: 5px;
  margin-bottom: 5px;
  height: 50px;
  width: 85%;
  display: flex;
  align-items: center;
  padding: 0 15px;
  transition: background 0.3s, color 0.3s;
  cursor: pointer;
  color: grey;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: white;
  flex-shrink: 0;
}

.menu-options:hover {
  color: black;
}

/* Submenu Styling */
.submenu {
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  gap: 5px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-in-out, padding 0.3s ease-in-out;
}

.submenu-option {
  height: 40px;
  display: flex;
  align-items: center;
  color: grey;
  cursor: pointer;
  padding-left: 30px;
  transition: 0.3s;
}

.submenu-option:hover {
  color: black;
}

/* Show submenu when open */
.submenu.open {
  max-height: 150px;
}

/* Icon Styling */
.menu-options .icon {
  font-size: 20px;
  margin-right: 15px;
}

.sidebar.closed .menu-options span {
  display: none;
  text-decoration: none;
}

/* Arrow Icon Rotation */
.arrow-icon {
  font-size: 18px;
  margin-left: 70px;
  transition: transform 0.3s ease-in-out;
}

.arrow-icon.rotated {
  transform: rotate(90deg);
}
